<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <!-- Настройка вывода в консоль -->
        <Console name="Console" target="SYSTEM_OUT">
            <!-- Паттерн вывода: время, поток, уровень, класс, сообщение -->
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %c{1.} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- Устанавливаем уровень INFO для всего вашего пакета, чтобы видеть все сообщения -->
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
